#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#export DH_VERBOSE=1

export DEB_LDFLAGS_MAINT_APPEND := -Wl,--as-needed
export DEB_BUILD_MAINT_OPTIONS := hardening=+all

%:
	dh $@ --with kf5,pkgkde_symbolshelper

override_dh_strip:
	dh_strip --dbgsym-migration='debconf-kde-dbg (<< 1.0.3-1~)'
